body {
  background-color: #CCE3D9;
}
html {
    padding: 0px;
}
input {
  display: block;
  margin: 16px;
  border: 1px solid #E7B961;
}
#barraNavegadora {
  background-color: #806FE8;
  height: 32px;
  width: 100%;
}
#guardar {
  background-color: #5415DA;
  text-decoration-color: black;
}
