table, tbody, tr, td {
  border-collapse: collapse;
  width: 100%
}
.itemLista {
  border-top: 1px solid #FFCADA;
  margin: 8px;
  padding-left:  16px;
  padding-right: 16px;
}
.botonSVG {
  height:64px;
  width: 64px;
  margin: 0px;
}
.botonTabla {
  padding: 0px;
  margin: 8px;
  width: fit-content;
  height: fit-content;
}
#barraNavegadora {
  background-color: #806FE8;
  height: 32px;
  width: 100%;
}
